* {
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body header h1 {
    font-family: 'Abril Fatface';
    color: #006EB9;
    border-bottom: 1px solid #006EB9;
}

